/* General CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3c4f9f;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  width: 50%;
  margin: 50px auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.container div {
  margin: 10px 0;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.hidden {
  display: none;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

#warning-message { 
  display: none;
  font-weight: bold;
}

#portrait-landscape {
  margin-top: 10px;
  width: 70%;
}

#session-pin {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.action-btn {
  background-color: white;
  border: 1px solid #3c4f9f;
  color: #3c4f9f;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  padding: 2px 5px;
}

.action-btn:hover {
  background-color: #3c4f9f;
  color: white;
}

.full-cover {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.no-bullets {
  list-style-type: none;
}

.word-list-display {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  color: yellow;
  font-size: 100px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* Media Specific CSS */
/* @media only screen and (orientation:portrait){
  #wrapper { display:none; }
  #warning-message { display:block; }
} */

@media only screen and (orientation:landscape){
  #warning-message { display:none; }
}

@media only screen and (max-width: 850px) {
  .container {
    width: 75%;
  }
  #session-pin {
    font-size: 20px;
    width: 75%;
  }
}

