<!DOCTYPE html>
<html>
<head>
  <title>Dual Task</title>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
  <body>
    <video id="video-player" autoplay>
      <source src="http://localhost:3000/retrieve/<%= video %>" type="video/mp4">
    </video>
    <script type="module" src="/js/connectToDB.js"></script>
    <script type="module" src="/js/session.js"></script>
  </body>
</html>