* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: aqua; 
}

.container {
    width: 1000px;
    margin: 50px auto;
    text-align: center;
}

form {
    display: block;
}

#game-pin {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#video-player {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}